export MAIL_SMTP_SERVER=your.smtp.server.com
export MAIL_SMTP_PORT=587
export MAIL_SMTP_USERNAME=YOUR_IAM_SMTP_USER_FOR_SES
export MAIL_SMTP_PASSWORD=YOUR_VERY_LONG_PASSWORD
export MAIL_MESSAGE_SENDER=user@domain.com
